{
	debug
	auto_https off
}

http://localhost {
	# Public routes (no authentication)
	handle /user/login {
		reverse_proxy demo-user-service-app-1:1323
	}

	# Protected routes
	handle {
		forward_auth demo-user-service-app-1:1323 {
			uri /user/auth
			copy_headers Authorization X-User-Name X-User-Email X-User-Role
		}

		handle_path /cart/* {
			reverse_proxy demo-cart-service-app-1:1323 {
				# header_up -Authorization # if don't need token
				header_up +X-User-Name
				header_up +X-User-Email
				header_up +X-User-Role
			}
		}

		handle_path /shop-product/* {
			reverse_proxy demo-shop-product-service-app-1:1323
		}

		# Catch all unmatched routes
		handle {
			respond "Gateway - Endpoint Not Found" 404
		}
	}
}
