{
	debug
	auto_https off
}

http://localhost {
	# Public routes (no authentication)
	handle /user/login {
		reverse_proxy demo-user-service-app-1:1323
	}

	# Development url : http://127.0.0.1:5050/pgadmin/browser/ or http://localhost/pgadmin/browser
	handle /pgadmin/* {
		reverse_proxy pgadmin:80 {
			# see more info about X-script: https://www.pgadmin.org/docs/pgadmin4/8.14/container_deployment.html
			header_up X-Script-Name /pgadmin
		}
	}

	# http://localhost/nats-monitor/
	# Becareful in production
	handle_path /nats-monitor/* {
		reverse_proxy nats_server:8222
	}

	handle /minio-shop-product/* {
		# uri strip_prefix /minio-monitor → Strips /minio-monitor/ before passing requests to MinIO, so MinIO still serves assets correctly.
		# Without this, MinIO thinks it's still running at / instead of /minio-monitor/, causing it to serve incorrect paths.
		uri strip_prefix /minio-shop-product
		reverse_proxy minio-shop-product:9001
	}

	# Protected routes
	handle {
		forward_auth demo-user-service-app-1:1323 {
			uri /user/auth
			copy_headers Authorization X-User-Name X-User-Email X-User-Role
		}

		handle_path /cart/* {
			reverse_proxy demo-cart-service-app-1:1323 {
				# header_up -Authorization # if don't need token
				header_up +X-User-Name
				header_up +X-User-Email
				header_up +X-User-Role
			}
		}

		handle_path /shop-product/* {
			reverse_proxy demo-shop-product-service-app-1:1323
		}

		handle_path /user/* {
			rewrite * /user{uri}
			reverse_proxy demo-user-service-app-1:1323
		}

		# Catch all unmatched routes
		handle {
			respond "Gateway - Endpoint Not Found" 404
		}
	}
}
